.jumbotron {
	background-image: url('../img/keyboard-gamer.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain contain;
    height:350px;
    width: 100%;
    padding: 0;
}


.err-msg {
    color: red;
    font-family: 'Arial';
}

#result {
    text-align: center;
    color: silver;
    font-size: 2em;
    padding-top: 24px;
    font-family: helvecta;
}