.jumbotron {
	background-image: url('../img/team-members/Member_Calling_Card_Ghost3.png');
	background-position: right top;
    height:800px;
}

.info {
	font-family: 'Abolition Regular';
	color: #003391;
	font-size: 5rem;
}

.heading {
	font-family: helvetica;
	color: #d1d1d1;
	font-weight: bold;
}

.calling-card {
	width: 700px;
}

hr {
	border-color: #003391;
}


@media (max-width: 553px) {
	.jumbotron {
		height: auto;
		width: auto;
	}
}

@media (max-width: 768px) {
	.calling-card {
		width: 100%;
	}
}