/* COLORS /
/

#0e0b0b - black
#000A1B - dark bluegray
#d1d1d1 - light gray
#001946 - dark blue
#003391 - blue

*/

/* ====================== FONTS ===================== */

@font-face {
    font-family: 'Abolition Regular';
        src: url('../fonts/abolition-regular-webfont.eot');
        src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/abolition-regular-webfont.woff') format('woff'),
             url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: Bugfast;
        src: url('../fonts/bugfast.otf');
}


/* F O U N D A T I O N */
html {
    min-height: 100%;
}

body {
    min-height: 100%;
    background-color: #0e0b0b;
}


/* ================== NAVBAR STYLES ================= */

nav {
    border-bottom: 4px #003391 solid;
    background-color: black;
    
}

.navbar .navbar-nav .nav-item a {
    color: #003391;
    font-family: 'Abolition Regular';
    letter-spacing: .3rem;
    font-size: 1.3rem;
}

.nav-link:hover {
    color: #001946 !important;
    text-decoration: overline underline;
}
    

/* =================== MAIN STYLES ================== */

.jumbotron {
	background-image: url('../img/purple-splash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:700px;
    padding: 0;
}

.jumbotron div {
    padding-top: 50px;
}


.deity-font-1 {
	font: 2rem Bugfast;
	color: #003391;
	letter-spacing: .3rem;
}

.clan-font-1 {
	font: 1.9rem Helvetica;
	color: #003391;
	letter-spacing: .3rem;
}

.deity-font-2 {
    font: 7rem Bugfast;
    color: #d1d1d1;
    letter-spacing: .3rem;
}

.clan-font-2 {
    font: 6.5rem Helvetica;
    color: #d1d1d1;
    letter-spacing: .3rem;
}


/* ======================== FOOTER =========================*/

.flex-container-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 25px;
    border-bottom: 2px solid rgba(142,142,142,.25);
    
    
}

.flex-item-footer {
    color: #003391;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 145px;
    height: auto;
    padding-bottom: 10px;
    font-size: .85em
    
}

footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0;
    border-top: 4px solid #003391;
    background-color: #000a1b;
}

footer ul li a {
    color: #003391;
    margin-top: 2px;
    padding-top: 2px;
}

footer ul li a:hover {
    color: #001946;
    text-decoration: underline overline;
    
}


li {
    display: inline-block;
    padding-right: 25px;
    color: #0e0b0b;
}

#copyright {
    padding-bottom: 10px;
    color: #003391;
    margin-bottom: 0;
}


/* M E D I A  Q U E R Y  F U N  . . . */

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .flex-container-footer {
        flex-wrap: wrap;
    }

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {


}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {


}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {


}
