.jumbotron {
	background-image: url('../img/keyboard-gamer.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain contain;
    height:350px;
    width: 100%;
    padding: 0;
}

#teams-heading {
    text-align: center;
    padding-top: 36px;
    color: #003391;
    font-family: 'Abolition Regular';
    border-bottom: 1px solid rgba(209,209,209,0.1);
    margin-left: 60px;
    margin-right: 60px;
    
}

.teams-container {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0;
    
}

.teams-row {
    border: 1px solid rgba(209,209,209,0.2);
    padding: 0;
    margin: 0;
}

.teams-col {
    width: 100%;
    height: 170px;    
    text-align: center;
    background-image: url('../img/filler.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 70px;
    transition: .3s;
    border-bottom: 1px solid rgba(209,209,209,0.1);
    z-index: 10;
}


.teams-col:hover {
    background-color: darkblue;
    transform: scaleX(1.05);
    z-index: 101;
    
}

.teams-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 50px;
}



.team-info-col {
    background-color: #0b0e0e;
    width: 100%;
    height: auto;
    padding: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(209,209,209,0.05);
    
}

.team-members-list {
    list-style: none;
    text-align: center;
    padding: 0;
    width: 100%;
    font-family: 'Abolition Regular';
    font-size: 3em;
    color: blue;
    margin-bottom: 0;
}

.team-members-list-item {
    font-family: helvecta;
    font-size: .32em;
}

.team-member-link {
    color: blue;
    text-decoration: none;
    
}

.team-info-title-link {
    text-decoration: underline rgba(209,209,209,0.2);
    color: blue;
}

.team-info-title-link:hover {
    text-decoration: underline rgba(209,209,209,0.2);
}

