.jumbotron {
	background-image: url('../img/keyboard-gamer.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain contain;
    height:350px;
    width: 100%;
    padding: 0;
}


/* T E A M  G R I D */

.players-cont {
    margin-top: 50px;
    margin-bottom: 20px;
}

.team-intro-heading-1 {
    text-align: center;
    font-family: 'Bugfast';
    color: #003391;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(209,209,209,.1);
    padding-bottom: 10px;
}

.team-intro-heading-2 {
    text-align: center;
    font-family: Helvetica;
    color: #fff;
}

.team-intro-text {
    color: #d1d1d1;
    border-bottom: 1px solid rgba(209,209,209,.1);
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.roster-heading {
    text-align: center;
    font-family: 'Bugfast';
    color: #003391;
    padding-top: 32px;
    padding-bottom: 16px;
}

.player-link {
    position: absolute;
    top: 55px;
    bottom: 16px;
    left: 9px;
    right: 9px;
    font-family: "Abolition Regular";
    font-size: 1.3rem;
    padding-left: 10px;
    padding-top: 50px;
    transition: .3s;
}

.player-link:hover {
    text-decoration: none;
}

.player-arrow {
    padding-left: 5px;
}

.players-row {
    border: 1px solid rgba(209,209,209,.1);
    border-radius: 10px;
}

.player-col {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
}

.player-img-1 {
    
}

.player-col-2 {
    
}

.player-col-3 {
    
}

.player-img {
    width: 100px;
    height: 100px;
    
}

/* E X P L O R E  M E N U */

#explore-cont {
    
}

#explore-row {
    
}

.explore-col {
    text-align: center;
    width: 200px;
    height: 200px;
    padding-top: 80px;
    background-color: #0e0f0f;
    border: 1px solid rgba(209,209,209,.1);
    font-family: 'Abolition Regular';
    color: #003391;
    margin-bottom: 24px;
    transition: .3s;
}

.explore-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 75px;
    
}

.explore-link:hover {
    text-decoration: none;
}

.explore-col:hover {
    text-decoration: none;
    transform: scale(1.05);
    background-color: #0e0A0A;
    z-index: 1000000;
}


/* M E D I A  Q U E R Y  F U N  . . . */

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
   
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
   

}
