/* COLORS /
Balls.  Ballsacks.  Is that one word?  Boobies.  8008135.  Guess where this was copied from
#0e0b0b - black
#000A1B - dark bluegray
#d1d1d1 - light gray
#001946 - dark blue
#003391 - blue

*/

/* ====================== FONTS ===================== */

@font-face {
    font-family: 'Abolition Regular';
        src: url('/fonts/abolition-regular-webfont.eot');
        src: url('/fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('/fonts/abolition-regular-webfont.woff') format('woff'),
             url('/fonts/abolition-regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Bugfast';
        src: url('/fonts/bugfast.otf');
}


/*
 * Globals
 */
html {
    overflow-x: hidden;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
    padding-right: 0 !important;
    background-color: #d1d1d1;
    
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


.deity-font-1 {
	font: 2rem 'Bugfast';
	color: #003391;
	letter-spacing: .2rem;
    display: inline;
}

.clan-font-1 {
	font: 1.9rem Helvetica;
	color: #003391;
	letter-spacing: .2rem;
    display: inline;
}

.deity-font-2 {
    font-family: 'Bugfast';
    color: #d1d1d1;
    letter-spacing: .3rem;
    
}

.clan-font-2 {
    font-family: Helvetica;
    color: #d1d1d1;
    letter-spacing: .3rem;
}


.jumbotron {
	background-image: url('http://deityclan.01014.org/img/keyboard-gamer.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover cover;
    height: 300px;
    padding: 0;
}


.jumbotron div {
    padding-top: 50px;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
    background-color: #0b0e0e;
    font-size: 18px;
    line-height: 1.5;
    padding-right: 0;
    
}

/* Sidebar modules for boxing content */
.blog-sidebar {
    background-color: #0b0e0e;
    overflow: hidden;
    padding-right: 0;
    padding-top: 175px;
    color: #999;
    
}

.sidebar-module {
  
}
.sidebar-module-inset {
  
  border-radius: 4px;
}

.blog-sidebar-header {
    color: #d1d1d1;
    font-weight: bold;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 16px;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
    text-align: center;
    background-color: #0b0e0e;
    
}

.blog-post-title {
    background-color: #0b0e0e;
    margin-bottom: 0;
    margin-top: 35px;
    margin-left: 10%;
    margin-right: 16px;
    font-family: 'Abolition Regular';
    color: #003391;
}

.blog-post-meta {
    color: #999;
    background-color: #0b0e0e;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 16px;
    font-size: .8em;
}

.blog-content {
    background-color: #0b0e0e;
    padding-top: 10px;
    margin-top: 16px;
    margin-left: 10%;
    margin-right: 16px;
    text-align: justify;
    overflow-y: hidden;
    margin-bottom: 50px;
    border: 2px solid rgba(142,142,142,.25);
    padding-left: 16px;
    padding-right: 16px;
    color: #999;
}

.footer-li-item {
    margin-bottom: 6px;
}

.footer-link {
    font-size: 1.7em;
    font-family: 'Abolition Regular';
}


#contact-form {
    margin-bottom: 24px;
}



/* M E D I A  Q U E R Y  F U N  . . . */

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .blog-sidebar {
        padding-top:0;
    }

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {


}